    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Prata&display=swap');

    body {
        background-color: #7e99b5;
        margin: 0;
        font-family: 'Montserrat';
    }
    
    a {
        text-decoration: none;
    }

     /* Banner Home Page */

    .footer {
        display:flex;
        align-items: center;
        background-color: #455a70;
        height: 70px;
    }

    .footer img {
        height: 90%;
        padding: 5px 1px;
    }

    .footer h1 {
        margin: 0;
        color:#ffff;
    }
    

    .footer a:visited {
        color:#ffff;
    }

    /* Pagina Principale */

    .main-section img {
        height: 30%;
        width: 100%;
    }

    .main-section h1 {
        color: #2E294E;
        font-family: 'Prata';
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .main-section h3 {
        color: #2E294E;
        font-family: 'Prata';
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-section h6 {
        font-size: 22px;
        color: #55B493;
        padding: 22px;
        margin-bottom: 0px;
        margin-top: 56px;
        border-radius: 6px;
        background: linear-gradient(#95B8D1, #C6D9E6);
    }

    .main-section ul {
        color: #2E294E;
        padding: 0;
    }

    .main-section li {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        border-bottom: solid 0px #dfdfdf;
    }
    
    li a {
        font-weight: 600;
        font-style: italic;
        text-decoration-line: none;
        color: #ffff;
    }